@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-marker {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: rgba(255, 255, 255, 0.8);
	border: 2px solid #444;
}

.custom-marker:hover {
    cursor: pointer;
}

.bus-icon {
	font-size: 24px;
	color: #000;
}

.direction-arrow {
	position: absolute;
	font-size: 12px;
	color: #000;
}

.direction-arrow.n {
	top: -10px;
	transform: rotate(0deg);
}
.direction-arrow.ne {
	top: -7px;
	right: -7px;
	transform: rotate(45deg);
}
.direction-arrow.e {
	right: -10px;
	transform: rotate(90deg);
}
.direction-arrow.se {
	bottom: -7px;
	right: -7px;
	transform: rotate(135deg);
}
.direction-arrow.s {
	bottom: -10px;
	transform: rotate(180deg);
}
.direction-arrow.sw {
	bottom: -7px;
	left: -7px;
	transform: rotate(225deg);
}
.direction-arrow.w {
	left: -10px;
	transform: rotate(270deg);
}
.direction-arrow.nw {
	top: -7px;
	left: -7px;
	transform: rotate(315deg);
}

.custom-marker {
	@apply dark:bg-[#323232cc];
	@apply dark:border-[#ccc];
}

.bus-icon, .direction-arrow {
	@apply dark:text-[#fff];
}
