@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
