@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-map-control-button {
	background-color: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
	margin: 10px;
	padding: 0 0.3em;
	font-size: 25px;
	color: #666;
	overflow: hidden;
	height: 40px;
	cursor: pointer;
	position: absolute;
	bottom: 4em;
	right: 0;
	z-index: 5;
}
.custom-map-control-button:hover {
	background: rgb(235, 235, 235);
	color: black;
}
